---
	import Layout from '../layouts/Layout.astro'
---

<Layout title="Über Kevin">

	<a href="./index.html">geh zu Startseite</a>

	<img class="max-w-sm" src="https://images.unsplash.com/photo-1706125356134-a20ea29b412b?q=80&w=2669&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D">

</Layout>
